/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/01/28, 1:04:32
    Author     : kokiyoshida
*/

/* Suggested order:
 * display
 * list-style
 * overflow
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 *
 */

html {
    width: 100%;
    height: auto;
    background-color: #000;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    background-color: rgb(30,30,30);
    color: white;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Helvetica, Arial, Verdana, sans-serif;
    font-size: 13px;
}

.gwrapper {
    width: 100%;
    min-width: 1040px;
    margin: 0 auto;
}

#header {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5000; /* 常に前 */
    border-bottom: 1px solid #878270;
    background-color: black;
}
#header img {
    padding-left: 20px;
}

#gnav {
    display: block;
    /* overflow: hidden; */
    float: right;
    width: 610px;
    height: 45px;
    margin: 0;
    margin-right: 80px;
    padding: 0;
    text-align:center;
}
#gnav ul {
    list-style: none;
    /* overflow: hidden; */   /* liのfloat崩れ解除 */
    height: 100%;
    margin: 0;
    padding: 0;
}
#gnav li {
    display: block; /* a要素だけの場合 */
    /* display: list-item; /* list要素じゃないものをリストに(画像とか) */
    float: left;
    width: 19%;
    height: 100%;
    font-size: 22px;
    line-height: 45px; /* 要素と同じ高さ = 45px */
}
#gnav li:hover{
    background-color: rgb(160,160,160);
}
#gnav a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
}

.wrapper {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.wrapper h2 {
    font-size: 24px;
}

.list-box {
    /* overflow: hidden; */
    padding: 0;
}
.list-box li {
    display: list-item;
    list-style: none;
    /* list-box内descriptionのflort解除はclearfixではなくoverflow */
    overflow: hidden;  /* 必要 */
    position: relative;
    float: left;
    width: 230px;
    height: 230px;
    margin-right: 15px;
    margin-bottom: 15px;
    line-height: 230px; /* 要素と同じ高さ = 230px */
}
.list-box li:hover{
    /* 情報表示 */
}
.list-box a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #505050;
    color: white;
    font-size: 70px; /* 文字数による */
    text-decoration: none;
    text-align: center;
    line-height: 70px; /* font-sizeと同じに */
    word-wrap: break-word;
}

.box {
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;    /* Safari,Chrome */
    -moz-border-radius: 4px;   /* Firefox */
    background-color: rgb(244,244,242); /* #f4f4f2 */
    color: black;
}

#footer {
    margin-top: 5px;
    border-top: white solid 1px; 
    /* padding-bottom: 5px; */
}
#footer p {
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
}

.bx-wrapper {
    position: relative;
    width: 960px; /* 画像と同じpx = 960 */
    margin: 0 auto;
}

.description {
    display: block;
    position: absolute;
    bottom: -80px; /* heightと同じだけ */
    width: 220px;  /* list-box widthと同じ = 220 */
    height: 80px;
    padding: 0 5px;
    background-color: black;
    opacity: 0.6; /* 60%で透明化 */
}
.description h3 {
    width: auto;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px rgb(80,50,50) solid;
    font-size: 16px;
    line-height: normal;
}
.description ul {
    overflow: hidden;
    width: auto;
    padding: 0;
    padding-top: 10px;
    text-align: center;
}
.description li {
    float: left;
    width: auto;
    height: 100%;
    margin: 0 10px 0;
    font-size: 12px;
    line-height: normal; /* list-boxのを打ち消す */
}

/* http://syncer.jp/jquery-to-top-button */
#page-top{
    display: none;
    position: fixed;
    right: 16px;
    bottom: 16px;
    width: 50px;
    height: 50px;
}
#page-top p {
    margin: 0;
    padding: 0;
    border-radius: 8px;
    -webkit-border-radius: 8px; /* Safari,Google Chrome用 */
    -moz-border-radius: 8px;    /* Firefox用 */
    background: #c1bba4;
    font-size: 20px;
    font-color: white;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.6;
}
#page-top p:hover{
    /* background:#8b8b8b; */
}
#move-page-top{
    display :block;
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    cursor: pointer;
}

/* clearfix */
.cf:before,
.cf:after{
    content: "";
    display: table;
}
.cf:after{
    clear: both;
}
/*IE6,7対策 （haslayout対策）*/
.cf {
    *zoom:1;
}