@charset "utf-8"

html{
	height: auto;
}

body{
	//margin: 0px;
	//padding: 0px;
	height: 100%;
	background-color: rgb(220,220,220);
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	position: relative;
}

p {
	color:blue;
	line-height:1.5;
}